div{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    animation-name: loader;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    position: absolute;
    left: 200px;
    
    

}
@keyframes loader{
    from{transform: rotate(0deg); border-top: rgb(4, 5, 44) solid 10px;}
    to{transform: rotate(360deg); border: rgb(55, 250, 16) solid 10px;}
}

